*{margin:0;padding:0;box-sizing:border-box;font-family:Arial,sans-serif}

body{
  background:#07111f;
  color:white;
}

.header{
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;
  background:#07111f;
  padding:18px 6%;
}

.navbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.brand{
  display:flex;
  align-items:center;
  gap:12px;
}

.brand-icon{
  background:#e30613;
  padding:14px;
  border-radius:12px;
  font-weight:bold;
}

.brand h2{font-size:24px}
.brand span{color:#e30613;font-weight:bold}

.nav-links{
  display:flex;
  gap:30px;
  list-style:none;
}

.nav-links a,
.phone-btn{
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.phone-btn{
  border:1px solid white;
  padding:12px 22px;
  border-radius:8px;
}

.hero{
  min-height:100vh;
  display:grid;
  grid-template-columns:1fr 1fr;
  padding-top:90px;
}

.hero-left{
  padding:100px 8%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.welcome{
  color:#e30613;
  font-weight:bold;
  margin-bottom:20px;
}

.hero h1{
  font-size:62px;
  line-height:1.05;
  margin-bottom:25px;
}

.hero h1 span{
  color:#e30613;
  display:block;
}

.subtitle{
  color:#cbd5e1;
  font-size:19px;
  line-height:1.7;
  margin-bottom:25px;
}

.checks p{
  margin-bottom:12px;
  color:#e5e7eb;
}

.hero-buttons{
  display:flex;
  gap:16px;
  margin-top:25px;
}

.btn{
  padding:16px 28px;
  border-radius:8px;
  text-decoration:none;
  font-weight:bold;
}

.red{
  background:#e30613;
  color:white;
}

.outline{
  border:1px solid white;
  color:white;
}

.hero-right{
  background:
  linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.5)),
  url("https://images.unsplash.com/photo-1487754180451-c456f719a1fc?auto=format&fit=crop&w=1600&q=80");
  background-size:cover;
  background-position:center;
}

.stats{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  background:#020617;
  padding:35px 6%;
}

.stats div{
  text-align:center;
  border-right:1px solid #334155;
}

.stats h3{
  color:#e30613;
  font-size:28px;
}

.stats p{
  color:#cbd5e1;
}

@media(max-width:900px){
  .nav-links,.phone-btn{display:none}

  .hero{
    grid-template-columns:1fr;
  }

  .hero h1{
    font-size:42px;
  }

  .hero-right{
    min-height:350px;
  }

  .stats{
    grid-template-columns:1fr 1fr;
    gap:20px;
  }
}